In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1892,-120.00,38.92,26.0,529.0,116.0,191.0,83.0,3.5000,103600.0,INLAND
14481,-117.25,32.82,23.0,6139.0,826.0,2036.0,807.0,9.5245,500001.0,NEAR OCEAN
6828,-118.11,34.08,30.0,2350.0,472.0,945.0,467.0,3.3421,201000.0,<1H OCEAN
7700,-118.12,33.97,35.0,708.0,145.0,471.0,153.0,3.2000,197400.0,<1H OCEAN
552,-122.26,37.77,52.0,1210.0,168.0,411.0,172.0,3.3571,405400.0,NEAR BAY

In [3]:
housing_data = housing_data.dropna()
housing_data.shape

(20433, 10)

In [4]:
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [5]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)
housing_data.shape

(19475, 10)

In [6]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0

In [7]:
median = housing_data['median_house_value'].median()
median

173800.0

In [8]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [9]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
1890,-120.01,38.93,22.0,3080.0,610.0,1045.0,425.0,2.9960,126100.0,0,1,0,0,0,False
17525,-121.90,37.33,11.0,1283.0,390.0,718.0,345.0,4.2260,166700.0,1,0,0,0,0,False
17008,-122.29,37.54,41.0,1743.0,349.0,811.0,349.0,4.9464,282400.0,0,0,0,0,1,True
9941,-122.25,38.17,34.0,778.0,137.0,406.0,136.0,4.2955,121300.0,0,0,0,1,0,False
19613,-121.14,37.46,4.0,2919.0,503.0,1592.0,491.0,5.2452,161900.0,0,1,0,0,0,False

In [10]:
X = housing_data.drop(['median_house_value', 'above_median'], axis=1)
Y = housing_data['above_median']

In [11]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [14]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [16]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [17]:
print('Training Score: ', logistic_model.score(x_train, y_train))

Training Score:  0.8235558408215661

In [18]:
y_pred = logistic_model.predict(x_test)

In [19]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})
df_pred_actual.head(10)

       predicted  actual
1543        True    True
4592       False    True
13935      False   False
13003      False   False
13070      False   False
17092       True    True
4331        True    True
11003       True    True
797         True    True
18365       True    True

In [20]:
from sklearn.metrics import accuracy_score

print('Testing Score: ', accuracy_score(y_test, y_pred))

Testing Score:  0.8115532734274711